{{ $title := "Data Management" }}
<!DOCTYPE html>
<html lang="en">
<head>
    {{ template "html_head" $title }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta2/dist/css/bootstrap-select.min.css">
</head>
<body>
    {{ template "nav_bar" $title }}
    <div id="content">
        <header style="display: flex">
            <button id="backBtn" class="button">Back</button>
            <h1 id="title"></h1>
            <button id="addRecordBtn" class="button">Add Record</button>
        </header>
        <div id="filter-badges" class="mb-3"></div>
        <table class="modelTable table table-striped" style="margin-bottom: 44px;">
            <thead id="tableHeader"></thead>
            <tbody id="tableBody"></tbody>
        </table>
        <footer style="position: fixed; padding: 10px 0; bottom: 0; width: 100%; background-color: white; z-index: 1000;">
            <span>Total records: <span id="totalCount">0</span></span>
            <span style="padding-left: 50px;">Page <span id="currentPage">1</span> of <span id="totalPages">1</span></span>
            <span style="float: right; padding-right: 50px;">Current Server-Time: <span id="serverTime">::</span></span>
        </footer>

        <div id="chartModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <h2 id="chartTitle"></h2>
                <canvas id="exerciseChart"></canvas>
            </div>
        </div>
        <div id="loading" class="text-center my-4" style="display:none;" data-page=1>
            <img src="/static/images/loading.gif" alt="Loading...">
        </div>
    </div>

    {{ template "scripts" . }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta2/dist/js/bootstrap-select.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/static/js/model.js"></script>
</body>
</html>
